@import '~antd/dist/antd.css';

.app {
  &-main {
    padding: 0 50px;
    margin-top: 64px;
    min-height: calc(100vh - 70px - 64px);
  }
  &-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
}
